.status {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.online {
  composes: status;
  background-color: rgb(0, 255, 76);
}

.offline {
  composes: status;
  background-color: rgb(224, 8, 8);
}
