.transactionHistory {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 20px;
  text-align: center;
}

th {
  border: 1px solid white;
}

td {
  border: 1px solid rgb(165, 164, 164);
}
.bodyHead {
  background-color: rgb(172, 209, 240);
  color: white;
  text-transform: uppercase;
}
tbody tr {
  text-transform: capitalize;
}

tbody tr:nth-child(odd) {
  background-color: #e7e5e5;
}

tbody tr:nth-child(even) {
  background-color: #fdfdfd;
}
